@import "./mixin";
@import "./variables";

// анимация всех кнопок на главной
@keyframes changeWidthBtn {
  50% {
    background-color: $color_border-btn;
  }
  100% {
    width: 100.5%;
    background-color: $color_border-btnWith;
  }
}
// анимация кнопки в категориях
@keyframes changeWidthBtnShop {
  50% {
    background-color: $color_bg-movie_btn;
  }
  100% {
    width: 100.5%;
    background-color: rgba(64, 84, 186, 0.8);
  }
}

// кнопка на главной
@mixin button {
  position: relative;
  border: 3px solid $color_border-btn;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  background-color: #ffffff00;
  @include transition;
  text-align: center;
  color: #1a1a1c;
  text-transform: uppercase;
  font-size: 1.25em;
  z-index: 1;
  &:hover {
    border: 3px solid $color_border-btnWith;
  }
  &::before {
    @include button_before;
  }
  &:hover::before {
    @include button_before_hover;
  }
}

@mixin button_before {
  content: "";
  position: absolute;
  top: -1px;
  left: -1px;
  width: 0%;
  height: 103%;
  background: $color_border-btn;
  z-index: -1;
}
@mixin button_before_hover {
  animation: changeWidthBtn 150ms forwards;
}

// кнопка на главной в блоке ourSuccess
@mixin button_link {
  position: relative;
  border: 3px solid $color_border-btn;
  border-radius: 5px;
  width: 264px;
  padding: 11px 18px;
  background-color: #ffffff00;
  font-size: 1.25em;
  color: rgba(95, 95, 96, 100%);
  text-align: left;
  cursor: pointer;
  outline: none;
  &:hover {
    border: 3px solid $color_border-btnWith;
  }
  &::before {
    @include button_before;
    height: 103%;
    top: -1px;
  }
  &:hover::before {
    @include button_before_hover;
  }
}

// кнопка в блоке ourSuccess для появления анимации при скроле
@mixin movie_btn {
  position: relative;
  border: 3px solid $color_bg-movie_btn;
  border-radius: 5px;
  width: 264px;
  height: 40px;
  background-color: #ffffff00;
  outline: none;
  &::before {
    @include button_before;
    background-color: $color_bg-movie_btn;
    height: 105%;
    @include transition;
  }
}

// кнопка в категориях
@mixin shopBtn {
  display: inline-block;
  text-align: center;
  position: relative;
  font-size: 0.9em;
  background-color: rgba(255, 255, 255, 0);
  border: 2px solid $color_bg-movie_btn;
  color: $color_category-sidebar;
  border-radius: 5px;
  width: 166px;
  height: 36px;
  padding: 7px 0;
  @include transition;
  &:hover {
    border: 2px solid rgba(69, 91, 205, 0.75);
    color: $color_white;
  }
  &::before {
    @include button_before;
    background-color: $color_bg-movie_btn;
    background: $color_bg-movie_btn;
    top: -1px;
    height: 105%;
  }
  &:hover::before {
    animation: changeWidthBtnShop 150ms forwards;
  }
}
