$color__grey: rgba(145, 145, 146, 1);
$color__headeingPrice: rgba(19, 19, 22, 1);
$color__btn_product: rgba(248, 195, 77, 1);

.card-product__item {
  @include dspFlex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
.card-product__img {
  width: 570px;
  height: 570px;
  @include boxShadow_product;
  padding: 20px;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.card-product__description {
  width: 270px;
  .price__product {
    font-size: 1.25em;
    color: $color__headeingPrice;
  }
  p {
    color: $color__grey;
    font-size: 1.1em;
    line-height: 2;
    letter-spacing: 0;
  }
  h3 {
    font-size: 1.6em;
    color: $color__headeingPrice;
    letter-spacing: 0.5px;
  }
}
#cardProduct {
  @include dspFlex;
  flex-direction: column;
  input[type="number"] {
    font-size: 0.7em;
    margin-bottom: 15px;
    width: 166px;
    height: 36px;
    border-width: 2px;
    border-radius: 5px;
    border: 2px solid rgba(69, 91, 205, 1);
    padding: 15px 10px;
  }
  input[type="submit"] {
    font-size: 1.25em;
    width: 270px;
    height: 54px;
    border-radius: 7px;
    background-color: $color__btn_product;
    border: none;
    outline: none;
    cursor: pointer;
    @include transition;
    &:hover {
      background-color: rgba(248, 195, 77, 0.8);
    }
  }
}
.card-product__about {
  max-width: 550px;
  margin-bottom: 35px;
  p {
    color: rgba(95, 95, 96, 1);
    font-size: 0.9em;
    text-align: left;
    line-height: 1.556;
    letter-spacing: 0px;
    padding: 0 10px;
  }
}
.card-product__similar {
  .similar__title {
    h3 {
      margin-bottom: 20px;
      color: $color__grey;
    }
  }
}
.similar__items {
  @include dspFlex;
  flex-wrap: wrap;
}
.similar__item {
  width: 300px;
  padding: 10px;
  @include transition;
  &:hover {
    @include boxShadow_product;
  }
  img {
    width: 270px;
    height: 270px;
  }
  .item__title {
    color: $color__headeingPrice;
    h4 {
      letter-spacing: 0.3px;
      font-weight: bold;
    }
    p {
      line-height: 2;
      font-size: 0.8em;
      color: #5f5f60;
      font-weight: bold;
      strong {
        font-size: 1.125rem;
        color: $color__headeingPrice;
      }
    }
  }
}
