.category__row {
  @include dspFlex;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin: 40px 0;
}
.category-left__sidebar {
  flex: 1 1 26%;
  height: 100%;
  margin: 0 25px 0 0;
}
.category-sidebar,
.sidebar-down {
  @include bacground_white;
  height: 100%;
  margin: 0 0 29px;
  .sidebar__title {
    @include bacground_blue;
    padding: 20px 25px 25px;
    margin: 0 0 30px;
    p {
      font-size: 1.25em;
      color: $color_white;
    }
  }
}
.sidebar-filtr {
  .filtr-items {
    .filtr-item {
      font-size: 0.8em;
      padding: 0 15px 30px;
      @include dspFlex;
      align-items: center;
      a {
        color: $color_category-sidebar;
        margin-left: 15px;
      }
    }
    .filtr-item::before {
      width: 35px;
      height: 35px;
    }
  }
}
.category-content {
  flex: 1 1 82.5%;
}
#sort__btn {
  background-color: white;
  border: none;
  outline: none;
  cursor: pointer;
}

.sortBy {
  @include dspFlex;
  justify-content: space-between;
  @include bacground_blue;
  margin: 0 0 20px;
  text-align: right;
  height: 72px;
  form {
    @include dspFlex;
    align-items: center;
    p {
      color: $color_white;
      font-size: 1.1em;
      letter-spacing: 0.5px;
    }
  }
}
#formSearh {
  padding-left: 20px;
  input[type="text"] {
    width: 220px;
    height: 40px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: none;
    margin: 0 2px 0 30px;
    padding: 0 20px;
  }
  input[type="submit"] {
    background: url(../img/shop/search.png) no-repeat center center;
    width: 45px;
    height: 40px;
    background-color: $color_white;
    border: none;
    outline: none;
    border-radius: 2px;
    cursor: pointer;
  }
}
#formSortBy {
  select {
    width: 220px;
    height: 40px;
    border-radius: 5px;
    padding: 0 20px;
    border: none;
    outline: none;
    margin-left: 18px;
    color: $color_category-sidebar;
    appearance: none;
    cursor: pointer;
  }
}
.select {
  position: relative;
  display: inline-block;
}
.select::after {
  content: url(../img/shop/triangle.png);
  font-size: 1em;
  position: absolute;
  right: 15px;
  top: 27px;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
#cart {
  @include dspFlex;
  align-items: center;
  .cart__img {
    border-radius: 5px;
    background-color: rgb(234, 194, 87);
    width: 70px;
    height: 100%;
    position: relative;
    cursor: pointer;
    img {
      position: absolute;
      top: 14px;
      left: 14px;
      width: 40px;
      height: 40px;
    }
  }
  p {
    color: $color_white;
    font-size: 1.1em;
    letter-spacing: 0.5px;
    display: none;
  }
}
.categoty-product__items {
  @include dspFlex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.categoty-product__item {
  margin: 3% 0;
  padding: 15px;
  border-radius: 3px;
  cursor: pointer;
  @include transition;
  &:hover {
    @include boxShadow_product;
  }

  .item-img {
    margin: 0 0 13px;
    img {
      width: 100%;
      height: 200px;
      max-width: 240px;
      object-fit: cover;
      margin-bottom: 20px;
    }
  }
  .item-description {
    margin: 0 25px 17px;
    h4 {
      font-size: 1.1em;
      width: 100%;
      max-width: 210px;
      height: 40px;
      color: rgba(19, 19, 22, 100%);
      @include transition;
    }
    p {
      font-size: 0.75em;
      letter-spacing: 0.4px;
      color: rgba(145, 145, 146, 100%);
    }
  }
  .item-action {
    margin: 0 0 25px;
    @include dspFlex;
    justify-content: space-between;
    align-items: center;
    .item-action__btn {
      button {
        @include shopBtn;
      }
    }
    .item-price {
      p {
        font-size: 1.25em;
      }
    }
  }
}
#pagination {
  margin: 40px auto;
  ul {
    @include dspFlex;
    justify-content: center;
    align-items: center;
    &::before,
    &::after {
      font-size: 1.75em;
      font-weight: bold;
      color: rgba(19, 19, 22, 100%);
      margin: 0 16px 7px;
      cursor: pointer;
    }
    &::before {
      content: "<-";
    }
    &::after {
      content: "->";
    }
    a {
      font-size: 1.5em;
      color: rgba(145, 145, 146, 100%);
      margin: 0 16px;
      &.active {
        color: rgba(19, 19, 22, 100%);
      }
    }
  }
}
