$color_heading: rgba(93, 83, 83, 1);
$color_text: rgba(121, 121, 122, 1);

.delivery {
  margin: 80px 0;
}
.delivery__title {
  h1 {
    margin-bottom: 50px;
  }
}
.delivery__content {
  @include dspFlex;
  flex-wrap: wrap;
}
.delivery__content-left {
  flex: 0 1 44%;
  .left-description {
    h3 {
      color: $color_heading;
      line-height: 1.24;
      font-size: 1.25em;
      margin-bottom: 25px;
      letter-spacing: 0.3px;
    }
    p {
      color: $color_text;
      margin-bottom: 60px;
      line-height: 1.55;
      width: 343px;
      letter-spacing: 0.3px;
    }
  }
}
.delivery__content-right {
  h3 {
    font-size: 1.5em;
    color: $color_heading;
    letter-spacing: 0.3px;
    margin-bottom: 25px;
  }
  p {
    color: $color_text;
    font-size: 1.25em;
    letter-spacing: 0.3px;
  }
  .right-description {
    margin: 25px 0 20px;
    @include dspFlex;
    align-items: center;
    button {
      border-radius: 5px;
      background-color: rgba(69, 91, 205, 1);
      width: 100%;
      max-width: 170px;
      height: 90px;
      font-size: 1.5em;
      color: $color_white;
      border: none;
      outline: none;
    }
    p {
      padding: 0 0 0 30px;
      width: 215px;
    }
    img {
      width: 580px;
      height: 250px;
    }
  }
}

// dilivery Woocomerce *****************************************************************

.woocommerce-order {
  width: 100%;
  h2 {
    margin: 10px 0 20px;
  }
  p,
  ul li,
  .woocommerce-customer-details {
    text-align: left;
    color: $color_text;
    font-size: 1.1em;
    margin: 5px 0;
  }
  .woocommerce-order-details {
    table {
      tbody tr td {
        a {
          color: $color_text;
          text-align: left;
        }
      }
    }
  }
  .woocommerce-Price-amount .amount {
    margin: 0 0 0 50px;
  }
}

// оформление заказа ******************************************************************
.delivery {
  .conteiner {
    @include dspFlex;
    justify-content: space-around;
    flex-wrap: wrap;
    h3 {
      margin: 40px 0;
      font-size: 1.5em;
    }
  }
}
.order-total,
.checkout {
  @include dspFlex;
  flex-wrap: wrap;
}
.checkout {
  flex-direction: column;
  input[type="text"],
  input[type="tel"],
  input[type="email"],
  textarea {
    @include deliveryInput;
    margin: 0 0 8px;
  }
  textarea {
    resize: none;
    @include deliveryInput;
  }
  button {
    border-radius: 5px;
    background-color: rgb(248, 195, 77);
    width: 366px;
    height: 62px;
    font-size: 1.25em;
    border: none;
    outline: none;
    cursor: pointer;
  }
  .payment_methods {
    border: 2px solid rgb(69, 91, 205);
    border-radius: 4px;
    background-color: rgb(69, 91, 205);
    width: 366px;
    height: 100%;
    min-height: 58px;
    font-size: 1.25em;
    margin: 0 0 8px;
    padding: 12px 25px;
    color: $color_white;
    position: relative;
    &::after {
      content: url("../img/shop/rectangle_Down.png");
      position: absolute;
      top: 14px;
      right: 27px;
    }
  }
  .payment_method_bacs {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 12px 0 0;
    label {
      cursor: pointer;
      margin: 12px 0;
      color: $color_white;
      text-align: left;
      width: 100%;
    }
  }
}
.delivery__elips {
  position: relative;
}
.elips {
  position: absolute;
  background-color: rgba(202, 206, 229, 0.774);
  border-radius: 50%;
  width: 518px;
  height: 518px;
  filter: blur(5px);
  z-index: -1;
  bottom: 0;
  left: -50px;
}
.shipping {
  #shipping_method {
    border-radius: 4px;
    background-color: rgb(69, 91, 205);
    width: 366px;
    height: 100%;
    min-height: 48px;
    color: $color_white;
    font-size: 1.25em;
    padding: 1px 25px;
    position: relative;
    &::after {
      content: url("../img/shop/rectangle_Down.png");
      position: absolute;
      top: 22px;
      right: 27px;
    }
    li {
      margin: 20px 0;
    }
    label {
      cursor: pointer;
    }
  }
}
.order-total {
  margin: 50px 0;
  p {
    font-size: 1.5em;
    margin-right: 15px;
  }
}
.woocommerce-info {
  .checkout_coupon {
    position: relative;
    input[type="text"] {
      @include deliveryInput;
    }
    button {
      position: absolute;
      border: 2px solid rgb(69, 91, 205);
      border-radius: 3px;
      background-color: rgb(69, 91, 205);
      width: 131px;
      height: 58px;
      color: $color_white;
      font-size: 1.25em;
      top: 0;
      right: 10%;
    }
  }
  .checked-coupon {
    font-size: 0.75em;
    line-height: 1.867;
  }
  .yes {
    color: rgb(117, 255, 169);
  }
  .no {
    color: rgb(255, 117, 117);
  }
}
