@font-face {
    font-family: 'Oswald Regular';
    font-style: normal;
    font-weight: normal;
    font-display: auto;
    src: url("../fonts/Oswald/woff/Oswald-Regular.woff") format("woff"),
    url("../fonts/Oswald-Regular.ttf")  format("truetype"),
    url("../fonts/otf/Oswald-Regular.otf") format("opentype")   
}
@font-face {
    font-family: 'Oswald Bold';
    font-style: normal;
    font-weight: bold;
    font-display: auto;
    src: url("../fonts/woff/Oswald-Bold.woff") format("woff"), 
    url("../fonts/Oswald-Bold.ttf") format("truetype"), 
    url("../fonts/otf/Oswald-Bold.otf") format("opentype"), 
}
  