.footer-row {
  background-color: $color_footer-bg;
  padding: 65px 0 60px;
}
.footer__items {
  @include dspFlex;
  color: $color_footer-text;
}
.footer__flex{
  @include dspFlex;
}
.footer__items a {
  color: $color_footer-text;
}
.footer__logo {
  @include dspFlex;
  align-items: center;
  margin-bottom: 40px;
  .logo__title {
    margin-left: 25px;
    h2 {
      font-size: 2em;
      color: $color_footer-text;
    }
    p {
      font-size: 1.1em;
      letter-spacing: 1px;
    }
  }
}
.footer__infoBlock {
  p {
    margin-bottom: 18px;
    font-size: 0.65em;
    width: 462px;
    letter-spacing: 1px;
    font-weight: bold;
    line-height: 1.4;
  }
}
.footer-menu {
  .menu-items {
    @include dspFlex;
    flex-direction: column;
    li {
      a {
        color: $color_footer-text;
        margin: 15px 0;
        margin-left: 100px;
        font-weight: bold;
        &:hover:after,
        &:focus:after {
          width: 0;
        }
      }
    }
  }
}
.footer__siteName {
  a {
    color: rgba($color: #c3c8ec, $alpha: 1);
  }
}
.footer__contact {
  text-align: right;
  .footer__row-phone {
    margin: 25px 0 15px;
    a {
      p {
        font-size: 2em;
      }
    }
  }
  .footer__row-mail {
    margin-bottom: 40px;
    a {
      p {
        font-size: 1.25em;
        letter-spacing: 0.5px;
      }
    }
  }
  .footer__siteName {
    margin-bottom: 8px;
    a {
      font-size: 1.6em;
    }
  }
  .footer__privacyPolicy {
    margin-bottom: 30px;
  }
}
