// mobile-menu
.burger {
  display: none;
}
// end mobile-menu
.header-row,
.header__top-row,
.header__down-row,
.menu-items {
  @include dspFlex;
}
.header__logo {
  .img {
    @include dspFlex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 125px;
    background-color: $color_logo;
  }
}
