// Tablet *******************************************************************************************
@media (max-width: 767px) {
  body,
  html {
    overflow-x: hidden;
    font-size: 16px;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    text-align: center;
  }
  .info__left h1 {
    font-size: 2.5em;
  }
  body.lock,
  html.lock {
    overflow: hidden;
  }
  .header__top-row,
  .info__right,
  .topScents__row::before,
  .topScents__row::after,
  .try__img,
  .ourWork__img,
  .footer__img,
  .item__right-description p br,
  .footer__infoBlock,
  .modal-form__img {
    display: none;
  }
  .advatages-item,
  .topScents__row-cards,
  .ourSuccess__item,
  .ourWork-item,
  .equipment__items,
  .footer__items {
    flex-wrap: wrap;
  }
  .modal {
    padding: 0;
  }
  .modal-title h2 {
    margin: 25px 0;
  }
  .header {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 3;
    background-color: $color_white;
  }
  .header__content {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: $color_white;
    top: 147px;
    left: -100%;
    z-index: 2;
    margin: 0;
    overflow: auto;
    @include transition;
  }
  .header__content.active {
    left: 0;
  }
  .header__down-row {
    flex-direction: column;
    .menu-items {
      flex-direction: column;
      margin: 10px auto;
      li {
        margin: 10px auto;
        a {
          font-size: 1.25em;
        }
      }
    }
  }
  .header__btn button {
    margin: 0 auto;
  }
  .header-row {
    margin: 0;
    padding: 20px 15px;
  }
  .header__logo {
    @include dspFlex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    a {
      img {
        width: 142px;
        height: 105px;
        object-fit: cover;
      }
    }
  }

  .form-input__modal input[type="tel"] {
    margin-bottom: 15px;
    width: 277px;
    max-width: 100%;
  }
  .form-input__modal input[type="submit"] {
    width: 310px;
    margin: 0 auto 11px;
  }
  .modal-title h2 {
    font-size: 2em;
  }
  .modal-form__arthboard .form-input__modal .social {
    max-width: 100%;
    margin: 0 0 10px 0;
  }
  .form-modal-description p {
    font-size: 0.85em;
  }
  .modal-body {
    flex-direction: column-reverse;
  }
  .close-button {
    top: 10px;
    right: 3%;
  }
  .form-input__modal input[type="text"] {
    width: 310px;
    margin: 0 auto 11px;
  }
  .mobile__flex {
    @include dspFlex;
    justify-content: flex-end;
  }
  //  Burger Menu *******************************************************************************************
  .mobile-menu {
    display: block;
    position: fixed;
    top: 64px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $color_white;
    color: $color_text_menu;
    @include transition;
  }
  .burger {
    display: block;
    position: relative;
    width: 45px;
    height: 20px;
    top: 0;
    left: 0;
    z-index: 1;
  }
  .burger span {
    position: absolute;
    background-color: $color_burger-menu;
    left: 0;
    width: 100%;
    height: 3px;
    top: 9px;
    @include transition;
  }
  .burger::before,
  .burger::after {
    content: "";
    background-color: $color_burger-menu;
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0;
    @include transition;
  }
  .burger::before {
    top: 0;
  }
  .burger::after {
    bottom: 0;
  }
  .burger.active span {
    transform: scale(0);
  }
  .burger.active::before {
    transform: rotate(45deg);
    top: 9px;
  }
  .burger.active::after {
    transform: rotate(-45deg);
    bottom: 8px;
  }
  //  Burger Menu end *******************************************************************************************
  .form__btn button {
    background-color: rgb(248, 195, 77);
    left: 50%;
    transform: translate(-50%, 0);
    width: 310px;
  }
  .equipment__btn {
    width: 310px;
    button {
      width: 310px;
      left: 50%;
      transform: translate(-50%, 0px);
    }
  }
  .info-block {
    margin-top: 150px;
    .conteiner {
      padding: 20px 5px;
    }
  }

  .advatages .conteiner {
    position: relative;
    .advatages__img {
      position: absolute;
      z-index: -1;
    }
  }
  .advatages__title h2 {
    text-align: center;
  }
  .advatages-item {
    height: 100%;
    width: 95%;
    margin: 0 auto 50px;
    .item__left-img1,
    .item__left-img2,
    .item__left-img3 {
      left: 33%;
    }
    .item__left {
      min-width: 100%;
    }
  }
  .item__right-description p {
    line-height: 24px;
  }

  .topScents__title h2 {
    margin: 20px auto;
  }
  .center__itemCard img {
    width: 75%;
  }
  .topScents__card img {
    width: 90%;
    margin: 0 20px;
  }
  .topScents__card:nth-child(1),
  .topScents__card:nth-child(3) {
    padding: 0;
  }
  .topScents__card-description {
    margin: 0 auto;
    width: 95%;
    .description {
      p {
        padding: 20px 0 0;
        width: 75%;
        margin: 0 auto;
        line-height: 24px;
      }
    }
    .link {
      text-align: center;
    }
  }

  .serviceType .conteiner {
    margin: 40px auto 10px;
  }
  .serviceType-navigation ul li {
    margin: 0 auto;
  }

  .try {
    padding: 10px 0;
  }
  .try-info__left {
    padding: 0 5px;
    .try-left__title {
      h2 {
        width: 100%;
      }
    }
  }

  .ourSuccess__item {
    .item__description {
      margin: 0 auto;
    }
    &:nth-child(2n) {
      flex-direction: column-reverse;
    }
    .description__movie p {
      max-width: fit-content;
      text-align: center;
      margin: 20px auto;
    }
  }

  #form input {
    margin: 0 auto 11px;
    max-width: 310px;
  }

  .ourWork-item {
    height: 100%;
    width: 95%;
    margin: 0 auto 50px;
    .item__left-img1,
    .item__left-img2,
    .item__left-img3 {
      left: 33%;
    }
    .item__left {
      min-width: 100%;
    }
  }
  .ourWork__title h2 {
    margin: 0 auto 80px;
  }
  .ourWork-item .item__right-description {
    h3 {
      margin: 0 10px 0 25px;
    }
    p {
      padding: 0 20px;
    }
  }
  .ourWork-item .item__left-img1 {
    left: 29%;
  }
  .ourWork-item .item__left-img3,
  .ourWork-item .item__left-img2 {
    left: 27%;
  }
  .ourWork-item .item__left-img4 {
    left: 38%;
  }
  .footer__flex {
    flex-direction: column-reverse;
  }
  // card-product page *******************************************************************************

  .card-product-row__top {
    flex-wrap: wrap;
  }

  .equipment .conteiner .equipment__title h2 {
    margin-bottom: 0px;
  }
  .equipment__item {
    margin: 140px auto 0px;
  }
  .equipment__btn {
    position: inherit;
    margin: 30px auto 0;
  }

  .info-block__duble .conteiner {
    padding: 0;
    .info__left {
      margin-top: 10px;
      .left__title {
        p {
          span {
            font-size: 0.8em;
          }
        }
      }
    }
  }

  .footer__logo .logo__title p,
  .footer__contact .footer__siteName,
  .footer__contact .footer__privacyPolicy {
    text-align: left;
  }
  .footer__items {
    padding: 0 20px;
  }
  .footer-menu .menu-items {
    flex-direction: row;
    flex-wrap: wrap;
    li {
      margin: 5px 0;
      flex: 1 1 50%;
      a {
        margin: 0;
      }
    }
  }
  .footer__contact .footer__siteName {
    margin-bottom: 30px;
  }
  .footer__contact .footer__privacyPolicy {
    width: 30%;
  }
  .footer-row {
    padding: 20px 0;
  }
  .footer__logo {
    margin-bottom: 10px;
    .header__logo {
      a {
        width: 110px;
        height: 100px;
      }
    }
  }
  .footer__contact .footer__row-phone a p {
    margin: 0 auto;
    text-align: left;
  }
  .footer__contact .footer__row-mail {
    margin-bottom: 10px;
    a p {
      margin: 0 auto;
      text-align: left;
    }
  }

  // deliveryPage *************************************************************************************

  .delivery__content-left {
    flex: 1;
    .left-description p {
      width: 100%;
    }
  }
  .delivery {
    padding: 0 10px;
  }
  .delivery__content-right {
    img {
      width: 100%;
      font-size: 1.1em;
    }
    .right-description {
      p {
        padding: 0 10px;
      }
      button {
        width: 100%;
        max-width: 170px;
      }
    }
  }
  // category page ************************************************************************************

  .category__row {
    margin: 175px 0 0;
    padding: 0 10px;
    flex-direction: column;
  }
  .category-left__sidebar {
    margin: 0;
  }
  .sidebar-filtr .filtr-items .cat-item {
    font-size: 1.5em;
  }
  .sortBy {
    flex-direction: column;
    height: auto;
  }
  #cart p {
    display: block;
  }
  #formSearh {
    padding: 30px 10px 20px;
  }
  #formSortBy {
    padding: 0 10px 20px;
    p {
      text-align: left;
      width: 110px;
      letter-spacing: 0;
    }
  }
  .select::after {
    top: 13px;
  }
  #cart {
    @include dspFlex;
    padding: 0 10px 20px;
    .cart__img a {
      width: 100%;
      height: 60px;
    }
  }
  .categoty-product__item {
    @include boxShadow_product;
    margin: 3% auto;
    .item-action {
      flex-direction: column-reverse;
      .item-price {
        margin: 10px 0;
      }
      .item-action__btn a {
        width: 280px;
      }
    }
  }
  .categoty-product__item .item-img img {
    max-width: 100%;
  }
  .categoty-product__item .item-description h4 {
    max-width: 100%;
  }
  #cart .cart__img {
    margin: 0 0 0 4%;
    width: 100%;
    a {
      img {
        left: 40%;
      }
      .basket-btn__counter {
        right: 40%;
      }
    }
  }

  // cart-product page
  .card-product__item{
    flex-direction: column;
  }
}
.card-product__img{
  width: 100%;
  height: 100%;
}

// Mobile *******************************************************************************************

@media (max-width: 375px) {
}
