
// Tablet *******************************************************************************************
@media (max-width: 767px){
    html,body{
        // overflow-x: hidden;
        font-size: 14px;
    }
    body.lock{
        overflow: hidden;
    }
    .header{
        position: fixed;
        width: 100%;
    }
    .header-row__down{
        .conteiner{
            .logo{
                flex: 0;
                z-index: 2;
               a img{
                    width: 142px;
                }
            }
        }
    }
    .form-input__modal input[type="tel"]{
        margin-bottom: 15px;
        width: 277px;
        max-width: 100%;
    }
    .form-input__modal input[type="submit"]{
        max-width: 100%;
    }
    .modal-title h2{
        font-size: 2em;
    }
    .modal-form__arthboard .form-input__modal .social{
        max-width: 100%;
        margin: 0 0 10px 0;
    }
    .form-modal-description p{
        font-size: 0.85em;
    }

//  Burger Menu *******************************************************************************************    
    .mobile-menu{
        display: block;
        position: fixed;
        top: 64px;
        left: -100%;
        width: 100%;
        height: 100%;
        background-color: $color_white;
        color: $color_text_menu;
        @include transition;
    }
    .mobile-menu.active{
        left: 0;
    }
    .burger{
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        top: 25px;
        left: 25%;
        z-index: 1;
    }
    .burger span{
        position: absolute;
        background-color: $color_burger-menu;
        left: 0;
        width: 100%;
        height: 3px;
        top: 9px;
        @include transition;
    }
    .burger::before,
    .burger::after{
        content: '';
        background-color: $color_burger-menu;
        position: absolute;
        width: 100%;
        height: 3px;
        left: 0;
        @include transition;
    }
    .burger::before{
        top: 0;
    }
    .burger::after{
        bottom: 0;
    }
    .burger.active span{
        transform: scale(0);
    }
    .burger.active::before{
        transform:rotate(45deg);
        top:9px;
    }
    .burger.active::after{
        transform:rotate(-45deg);
        bottom:8px
    }
    .currentOffers{
        .currentOffers-row{
            flex-wrap: wrap;
        }
    } 
   
    
    // card-product page *******************************************************************************

    .card-product-row__top{
        flex-wrap: wrap;
    }
    
     

    // deliveryPage *************************************************************************************

    
    
    
    // category page ************************************************************************************

    .category-row{
        flex-wrap: wrap;
    }
    
   

    // cart-order page
    .cart-order__form-row{
        flex-wrap: wrap;
    }
    
}

// Mobile *******************************************************************************************

@media (max-width: 375px){

}