@mixin dspFlex {
  display: flex;
}
@mixin transition {
  transition: all 0.4s ease;
}
@mixin transition-modal {
  transition: all 0.2s ease-in-out;
}
@mixin transform {
}
@mixin input {
  border: 2px solid $color_input-border;
  border-radius: 5px;
  width: 100%;
  max-width: 365px;
  padding: 18px 0 18px 35px;
  margin-bottom: 11px;
  font-size: 1.5em;
  background-color: rgba(255, 255, 255, 0);
  color: #666060;
  outline: none;
}
@mixin boxShadow {
  box-shadow: 0px 0px 133px 0px rgba(37, 25, 2, 0.33);
}
