@import '_mixin';
*{  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family:"Oswald Regular";
    font-size: 20px;
    overflow-x: hidden;
}
.conteiner{
    max-width: $widthContent;
    margin: 0 auto;
}
a{
    text-decoration: none;
}
ul{
    padding: 0;
    li{
        list-style: none;
    }
}
h1,h2,h3,h4,h5,h6{
    color: $color_heading;
    margin: 0;
    font-weight: normal;
    letter-spacing: 1.5px;
}
p{
    letter-spacing: 1.5px;
}
h2{
    font-size: 2.5em;
}