// width
$widthContent: 1170px;
// colors
$color_logo: rgba(241, 241, 241, 100%);
$color_white: rgba(255, 255, 255, 100%);
$color_heading: rgba(46, 45, 47, 100%);
$color_border-btn: rgba(234, 194, 87, 90%);
$color_text_menu: rgba(61, 61, 61, 100%);
$color_box-shadow: rgba(0, 0, 0, 0.2);
$color_footer-bg: rgba(29, 29, 29, 100%);
$color_location-modal: rgba(230, 230, 230, 100%);
$color_burger-menu: rgba(152, 152, 152, 100%);
$color_danger: rgba(255, 0, 0, 100%);
$color_input-border: rgba(86, 103, 229, 100%);
$color_link: rgba(64, 84, 186, 100%);
